page-login-sch {
    @font-face {
        font-family: "Poetsen One";
        src: url(../assets/fonts/po.ttf) format("ttf");
        font-weight: 200
    }
    
    ion-content {
        font-family: "Poetsen One";
    }

    .bg-style {
        background: $app-background;
        padding: 10px;
        position: fixed;
    }
    
    .vertical-align-content > * {
        padding-bottom: 150px;
        width: 100%;
        height: 100%;
        margin-top: 100px;
    }
}
