<ion-header>
  <ion-navbar hideBackButton>
      <ion-icon name="md-exit" style="float: right; font-size:25px; margin-right:10px"(click)="logout()"></ion-icon>
    <ion-title>Your Posts</ion-title>
    <ion-buttons right>
      <button ion-button>
        <ion-icon class="header-icon"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-fab right bottom>
    <button ion-fab color="primary" (click)="onLoadPost()"><ion-icon name="md-add"></ion-icon></button>
  </ion-fab>
  <ng-container *ngFor="let post of posts">
    <ion-card *ngIf="post">
      <ion-item>
        <ion-avatar item-start>
          <img src="../assets/imgs/sch.png">
        </ion-avatar>
        <ion-icon name="md-trash" style="float: right; font-size:25px; margin-left:10px" (click)="delete(post.id_post)"></ion-icon>
        <ion-icon name="md-create" style="float: right; font-size:25px" (click)="pushEditPost(post.id_post)"></ion-icon>
        <h2>{{ post.nama_prv }}</h2>
        <p>{{ post.waktu }}</p>
      </ion-item>
        
          <!-- <img src="../assets/imgs/juara.jpg"> -->
        
        <ion-card-content>
          <p><b>{{ post.judul }}</b><br>
          {{ post.deskripsi }}
          </p>
        </ion-card-content>
    </ion-card>
  </ng-container>
</ion-content>