<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Notifikasi</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-list>
      <ng-container *ngFor="let post of posts">
        <button ion-item *ngIf="post" (click)="pushDetail(post.id)">
          <ion-avatar item-start>
            <img src="../assets/imgs/sch.png">
          </ion-avatar>
          <h2>{{ post.nama }}</h2>
          <p text-wrap>{{ post.nama }} telah membuat post baru!</p>
        </button>
      </ng-container>
    </ion-list>
  <!-- <ion-list>
    <button ion-item *ngFor="let item of items" (click)="itemTapped($event, item)">
      <ion-icon [name]="item.icon" item-start></ion-icon>
      {{item.title}}
      <div class="item-note" item-end>
        {{item.note}}
      </div>
    </button>
  </ion-list>
  <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{selectedItem.title}}</b>
  </div> -->
</ion-content>
