page-home {
    .bg-style {
        background: $app-background;
    }
    .vertical-align-content > * {
        display: flex!important;
        align-content: center!important;
        align-items: center!important;
    }
    .logo {
        width: 100px;
    }
    .or {
        font-size: 30px;
        color: #000;
        position: relative;
        bottom: 40px;
        margin-left: 20px;
        margin-right: 23px;
    }
    .cmhs {
        color: #000;
        position: relative;
        right: 30px;
    }
    .csch {
        color: #000;
        position: relative;
        left: 53px;
    }
    font-family: "Poetsen One" !important;
}