page-home-mhs {
    #notification-button {            
        position: relative;
        width: 42px;
        top: 1px;
        right: 1px;
        overflow: visible!important;
    }

    #notifications-badge {
        background-color: red;
        position: absolute;
        top: -3px;
        right: -3px;
        border-radius: 100%;
    }

    .toolbar-background {
        background-color: #64b5f6;
    }
    
    ion-title {
        text-align: center;
        color : color($colors, light) !important;
        font-family: "Poetsen One";
    }
    
    .header-icon {
        font-size: 30px;
    }
    
    .bg-style {
        background: white;
    }

    .toolbar-title.toolbar-title-md, 
    .toolbar-title.toolbar-title-ios, 
    .toolbar-title.toolbar-title-wp { color: map-get($colors, light); font-size: 10; }
}

